/* inside style.css */
body {
    background-color: rgb(201, 211, 230) 
}

.highlight {
    background-color: plum;
}

.error {
    background-color: rgb(244, 204, 204);
    border: red;
}
.typing-game {
    color: rgb(126, 36, 211);
}
.container {
    display: flex;
    flex-direction: column;
   
}
.container > section {
     
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-----------------------------h1 & p Style-----------------------------*/
h1 {
   
    color: blue;
    font-family: lucida ;
    font-size: 250%;
    text-align: center;
}


p {
    
   
    text-align: center;
}
#qoute, #message {
    color: black;
    
}
/*---------------------------Button Style---------------------------*/

button {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.9s;
}

button:hover {
    background-color: #f7c2f9;
  }