
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Yellowtail&display=swap');

/* inside style.css */
body {
    background-color: rgb(159, 179, 216) 
}

.highlight {
    background-color: plum;
}

.error {
    background-color: rgb(244, 204, 204);
    border: red;
}
.typing-game {
    color: rgb(126, 36, 211);
}
.container {
    display: flex;
    flex-direction: column;
    padding: 65px;
   @media only screen and (max-width:926px){display: inline;}
}
.container > section {
     margin: ;
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
}





/*-----------------------------h1 & p Style-----------------------------*/
h1 {
   
    color: rgb(64, 154, 151);
    font-family: yellowtail; ;
    font-size: 55px;
    text-align: center;
    
    margin-bottom: 40px;
}


p {

    text-align: center;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 40px;
}
#qoute, #message {
    color: rgb(241, 211, 152);
    font-family: 'Libre Baskerville', serif;
}
/*---------------------------Button Style---------------------------*/

button {
color: rgb(126, 36, 211);
cursor: pointer;
border-radius: 5px;
display: inline-block;
font-family: 'Libre Baskerville', serif;
position: relative;
transition: 0.9s;
border: 2px transparent yellow ;
padding: 4px 4px;
}

button:hover {
    background-color: #fcdafc;
  }

  //--Creating A 2 Section Split Footer
#footer-sections {display: flex;}
#footer-sections  .page-section:nth-child(1),
#footer-sections  .page-section:nth-child(2)
{flex: 1; display: flex; flex-flow: row nowrap; justify-content: center;}
@media only screen and (max-width:926px){#footer-sections {display: inline;}}